body {
    text-align: center;
    background-image: url("../images/bg.jpg");
    background-size: cover;

}

#headLine{
    color: #efd469;
}

h3,h4 {
    color: #efd469;
}

@media screen and (min-width: 964px) and (max-width: 1440px) {
  canvas{
	width:700px;
}
}
